*{/*reset css*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.material-icons{
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}

.menu{
  position: fixed;
  top: 20px;
  left: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  height: 152%;
  width: 210px;
}

.menu a{
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu .nomeUsuario{
  padding-top: 25px;
}

.menu .opcoesMenu a i{
  padding-right: 10px;
}

h4{
  color: #fff;
}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 20px 0;
}

ul a:hover{
  background-color: #ffffff;
  color: black;
}

.menuTelasGrandes{
  display: none;
}

.menuTelasGrandes a{
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.menuTelasGrandes .nomeUsuario{
  padding-top: 25px;
}

.menuTelasGrandes .opcoesMenu a i{
  padding-right: 10px;
}

.menuTelasGrandes h4{
  color: #fff;
}

.menuTelasGrandes ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuTelasGrandes ul a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 20px 0;
}

.menuTelasGrandes ul a:hover{
  background-color: #ffffff;
  color: black;
}

.logout{
  width: 100%;
  align-self: center;
  cursor: pointer;
}

.calendar {
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin-top: 5%;
  font-family: Arial, sans-serif; 
  padding-top: 5px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #000;
}

.month {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.navbar {
  /* loading: "lazy"; */
  width: 70%;
  float: right;
  text-align: center;
  }

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.day-of-week {
  text-align: center;
  font-weight: lighter;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #fff;
  font-weight: lighter;
  width: 100%;
}

.date {
  text-align: center;
  flex: 1 1 calc(100% / 7);
  padding: 25px 10px;
}

.date.today {
  background-color: #000;
  color: #ffffff;
}

.day-of-month {
  font-weight: lighter;
  font-size: 18px;
}

.add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  padding: 12px 16px;
  z-index: 1;
  bottom: 50px;
  right: 0;
  background-color: transparent; /* Mude de #fff para transparente */
}


.dropdown-content a {
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 30px;
  padding: 8px 22px;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
}

.dropdown-content a i {
  margin-right: 10px;
}

.add-button:hover {
  background-color: #333;
}

.add-options {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: transparent; /* Alterado de #fff para transparent */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.add-options a {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 0;
}

.show {
  visibility: visible !important; /* Updated from 'display: block' */
  opacity: 1 !important; 
}

.add-photo-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.add-photo-btn i {
  font-size: 48px;
  line-height: 100px;
  color: #ccc;
}

@media screen and (min-width: 1024px){
  .material-icons{
    display: none;
  }

  .menuTelasGrandes{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    height: 100vh;
    width: 210px;
    position: fixed;
  }

  .calendar{
    margin-left: 211px;
  }

  .date{
    padding: 50px 25px;
  }
}




