<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />4
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="container">
  <body>
    <i class="material-icons" (click)="toggleMenu()">menu</i>
    <div class="menu" *ngIf="showMenu">
      <h4 class="nomeUsuario">{{ nome }}</h4>
      <ul class="opcoesMenu">
        <a href="./calendar"><i class="far fa-calendar-alt"></i>Calendário</a>
        <a href="./lista-anotacoes/"><i class="fas fa-sticky-note"></i>Anotações</a>
        <a href="./lista-task/"><i class="fas fa-check"></i>Tarefas</a>
        <a href="./lista-projeto/"><i class="fas fa-tasks"></i>Projetos</a>
      </ul>
    </div>

    <div class="menuTelasGrandes">
      <h4 class="nomeUsuario">{{ nome }}</h4>
      <ul class="opcoesMenu">
        <a href="./calendar"><i class="far fa-calendar-alt"></i>Calendário</a>
        <a href="./lista-anotacoes/"><i class="fas fa-sticky-note"></i>Anotações</a>
        <a href="./lista-task/"><i class="fas fa-check"></i>Tarefas</a>
        <a href="./lista-projeto/"><i class="fas fa-tasks"></i>Projetos</a>
      </ul>
    </div>

    <div id="anotacoes">
      <form #annotationsForm="ngForm" (ngSubmit)="salvarAnotacao()">
        <section>
          <input type="text" id="titulo" placeholder="Título da anotação" [(ngModel)]="titulo" name="titulo" required #tituloInput="ngModel">
        </section>
        <textarea name="descAnnotation" id="descAnnotation" cols="30" rows="10" [(ngModel)]="descAnnotation" required 
        #descAnnotationInput="ngModel"></textarea>
        <section class="btns">          
          <button type="submit" id="saveAnnotation" [disabled]="annotationsForm.invalid">Salvar</button>
          <div id="descartar" (click)="closeAnnotation()">Cancelar</div>
        </section>
      </form>
    </div>

    <div class="add-button" id="add-button" (click)="toggleDropdown()">
      <i class="fas fa-plus"></i>
      <div class="dropdown-content" id="dropdown-content">
        <a href="./anotacoes"><i class="fas fa-sticky-note"></i>Anotações</a>
        <a href="./task"><i class="fas fa-check"></i>Tarefas</a>
        <a href="./projeto"><i class="fas fa-tasks"></i>Projetos</a>
      </div>
    </div>
    
    <div *ngIf="showOptions" id="add-options" class="add-options">
      <a href="./anotacoes">Anotações</a>
      <a href="./task">Tarefas</a>
      <a href="./projeto">Projetos</a>
    </div>  

  </body>
</div>
