@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    font-family: 'M PLUS 2';
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: row;
}

.material-icons{
  cursor: pointer;
}

.menu{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  height: 120vh;
  width: 250px;
  position: fixed;
  top: 20px;
  left: 0;
}

.menu a{
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.menu .nomeUsuario{
  padding-top: 25px;
}

.menu .opcoesMenu a i{
  padding-right: 10px;
}

h4{
  color: #fff;
}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 20px 0;
}

ul a:hover{
  background-color: #ffffff;
  color: black;
}

#anotacoes{
  padding-top: 80px;
  width: 90%;
}

h1{
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: bold;
}

#titulo{
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  width: 80%;
  padding: 3px 0;
  margin-bottom: 30px;
}

textarea{
  margin-top: 8px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 0.5em;
  border: 1px solid;
  outline: none;
  font-size: 30px;
  font-weight: 500;
  width: 80%;
  line-height: 1.1;
}

.btns{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 30px 0;
}

#descartar, #saveAnnotation{
  margin: 3px;
  border-style:solid;
  padding:2px;
  font-size:20px;
  border-width:3px;
  border-radius:50px;
  border-color:#000000;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

#descartar{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
}

#descartar:hover{
  color: #fff;
  background-color: #000;
}

#saveAnnotation{
  color: #fff;
  background-color: #000;
}

#saveAnnotation:hover{
  color: #000;
  background-color: #fff;
}

.add-button {
  position: fixed;
  right: 20px;
  top: 600px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  padding: 12px 16px;
  z-index: 1;
  bottom: 50px;
  right: 0;
  background-color: transparent; /* Mude de #fff para transparente */
}


.dropdown-content a {
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 30px;
  padding: 8px 20px;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
}

.dropdown-content a i {
  margin-right: 10px;
}

.add-button:hover {
  background-color: #333;
}

.add-options {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: transparent; /* Alterado de #fff para transparent */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.add-options a {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 0;
}

.show {
  visibility: visible !important; /* Updated from 'display: block' */
  opacity: 1 !important; 
}

.add-photo-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.add-photo-btn i {
  font-size: 48px;
  line-height: 100px;
  color: #ccc;
}
