*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.material-icons{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.menu{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  height: 120vh;
  width: 250px;
  position: fixed;
  top: 20px;
  left: 0;
}
  
.menu a{
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  width: 250px;
}
  
.menu .nomeUsuario{
  padding-top: 25px;
}

.menu .opcoesMenu a i{
  padding-right: 10px;
}

h4{
  color: #fff;
}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 20px 0;
}

ul a:hover{
  background-color: #ffffff;
  color: black;
}

h1{
  margin: 30px;
}

.anotacoes {
  width: 80%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.anotacao{
  margin-bottom: 10px;
}

.anotacoes h4 {
  color: black;
}

.anotacoes .anotacao{
  background-color: #f4f4f4;
  width: 95%;
  text-align: left;
}

.anotacao .botoes {
  text-align: right;
}

.anotacao i{
  text-align: right;
  color: black;
  font-size: 17px;
}

.add-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
  padding: 12px 16px;
  z-index: 1;
  bottom: 50px;
  right: 0;
  background-color: transparent; /* Mude de #fff para transparente */
}


.dropdown-content a {
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 30px;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
}

.dropdown-content a i {
  margin-right: 10px;
}

.add-button:hover {
  background-color: #333;
}

.add-options {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: transparent; /* Alterado de #fff para transparent */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.add-options a {
  display: block;
  color: black;
  text-decoration: none;
  margin: 5px 0;
}

.show {
  visibility: visible !important; /* Updated from 'display: block' */
  opacity: 1 !important; 
}

h1 {
  position: absolute;
  left: 20%;
  top: 0;
}


p{
  font-size: 18px;
}

.blabla img{
  width: 90%;
  margin-top: 40px;
}

.add-photo-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.add-photo-btn i {
  font-size: 48px;
  line-height: 100px;
  color: #ccc;
}
  