<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <i class="material-icons" (click)="toggleMenu()">menu</i>
  <div class="menu" *ngIf="showMenu">
    <h4 class="nomeUsuario">{{ nome }}</h4>
    <ul class="opcoesMenu">
      <a href="./calendar"><i class="far fa-calendar-alt"></i>Calendário</a>
      <a href="./lista-anotacoes/"><i class="fas fa-sticky-note"></i>Anotações</a>
      <a href="./lista-task/"><i class="fas fa-check"></i>Tarefas</a>
      <a href="./lista-projeto/"><i class="fas fa-tasks"></i>Projetos</a>
      <button class="logout" (click)="logout()">Logout</button>
    </ul>
  </div>

  <div class="menuTelasGrandes">
    <h4 class="nomeUsuario">{{ nome }}</h4>
    <ul class="opcoesMenu">
      <a href="./calendar"><i class="far fa-calendar-alt"></i>Calendário</a>
      <a href="./lista-anotacoes/"><i class="fas fa-sticky-note"></i>Anotações</a>
      <a href="./lista-task/"><i class="fas fa-check"></i>Tarefas</a>
      <a href="./lista-projeto/"><i class="fas fa-tasks"></i>Projetos</a>
      <button class="logout" (click)="logout()">Logout</button>
    </ul>
  </div>

  <main>
    
    <div class="anotacoes">
      <h1>Anotações</h1>
      <div class="anotacao" *ngFor="let lembrete of lembretes">
        <h2>{{ lembrete.anotacao }}</h2>
        <h4>{{ lembrete.descricao }}</h4>
        <div class="botoes">
          <i class="far fa-edit"></i>
          <button class="far fa-trash-alt" (click)="deleteLembretes"></button>
        </div>
      </div>
    </div>

    <div class="blabla" *ngIf="!lembretes || lembretes.length === 0">
      <img src="../../assets/imgtelaprojeto.png" alt="">
      <p>Você ainda não possui anotações</p>
    </div>

    <div class="add-button" id="add-button" (click)="toggleDropdown()">
      <i class="fas fa-plus"></i>
      <div class="dropdown-content" id="dropdown-content">
        <a href="./anotacoes"><i class="fas fa-sticky-note"></i>Anotações</a>
        <a href="./projeto"><i class="fas fa-tasks"></i>Projetos</a>
        <a href="./task"><i class="fas fa-check"></i>Tarefas</a>
      </div>
    </div>
    
    <div *ngIf="showOptions" id="add-options" class="add-options">
      <a href="./anotacoes">Anotações</a>
      <a href="./projeto">Projetos</a>
      <a href="./task">Tarefas</a>
    </div>  
  </main>
</body>
</html>
