<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Projetos</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
</head>

<body>
  <i class="material-icons" (click)="toggleMenu()">menu</i>
  <div class="menu" *ngIf="showMenu">
    <h4 class="nomeUsuario">{{ nome }}</h4>
    <ul class="opcoesMenu">
      <a href="./calendar"><i class="far fa-calendar-alt"></i>Calendário</a>
      <a href="./lista-anotacoes/"><i class="fas fa-sticky-note"></i>Anotações</a>
      <a href="./lista-task/"><i class="fas fa-check"></i>Tarefas</a>
      <a href="./lista-projeto/"><i class="fas fa-tasks"></i>Projetos</a>
      <button class="logout" (click)="logout()">Logout</button>
    </ul>
  </div>

  <div class="menuTelasGrandes">
    <h4 class="nomeUsuario">{{ nome }}</h4>
    <ul class="opcoesMenu">
      <a href="./calendar"><i class="far fa-calendar-alt"></i>Calendário</a>
      <a href="./lista-anotacoes/"><i class="fas fa-sticky-note"></i>Anotações</a>
      <a href="./lista-task/"><i class="fas fa-check"></i>Tarefas</a>
      <a href="./lista-projeto/"><i class="fas fa-tasks"></i>Projetos</a>
      <button class="logout" (click)="logout()">Logout</button>
    </ul>
  </div>

  <div class="projeto">
    <form method="POST" onSubmit="criaProjeto()">
      <input type="text" name="nomeprojeto" id="nomeProjeto" placeholder="Nome do Projeto" maxlength="60" [(ngModel)]="nomeProjeto" required #nomeProjetoInput="ngModel">
      <div class="datas">
        <input type="text" name="datainicio" id="dataInicio" [(ngModel)]="dataInicioProjeto" required #dataInicioProjetoInput="ngModel" placeholder="Data de Início" onfocus="(this.type='date')" onblur="(this.type='text')" onsubmit="(this.type='date')">
        <input type="text" name="datafim" id="dataFim" placeholder="Data de Término" [(ngModel)]="dataTerminoProjeto" required #dataTerminoProjetoInput="ngModel" onfocus="(this.type='date')" onblur="(this.type='text')" onsubmit="(this.type='date')">
      </div>
      <h3>Descrição</h3>
      <textarea name="descricao" id="descricao" [(ngModel)]="descricaoProjeto" required #descricaoProjetoInput="ngModel" cols="30" rows="3"></textarea>
      <div class="btns">
        <input type="submit" value="Salvar" id="botaocriar" (click)="criaProjeto()">
        <div id="descartar" (click)="closeProjeto()">Cancelar</div>
      </div>
    </form>
  </div>

  <div class="add-button" id="add-button" (click)="toggleDropdown()">
    <i class="fas fa-plus"></i>
    <div class="dropdown-content" id="dropdown-content">
      <a href="./anotacoes"><i class="fas fa-sticky-note"></i>Anotações</a>
      <a href="./task"><i class="fas fa-check"></i>Tarefas</a>
      <a href="./projeto"><i class="fas fa-tasks"></i>Projetos</a>
    </div>
  </div>
  
  <div *ngIf="showOptions" id="add-options" class="add-options">
    <a href="./anotacoes">Anotações</a>
    <a href="./task">Tarefas</a>
    <a href="./projeto">Projetos</a>
  </div>  

</body>
</html>
